{% extends 'lybmvvsapp/base.html' %}
{% block title %}
О себе
{% endblock %}

{% block content %}
    <h1>Любимов Владимир</h1>
    <img src="https://avatars.githubusercontent.com/u/93935262?s=400&u=25f1d80690d4a6f3243d373cca80af521cef7986&v=4"
    title="Вован"
    alt="еще и картинку добавил"

         width="250"
    height="250"

    >
    <p><a href="https://vk.com/stik_1982" target="_blank">vk.com/stik_1982</a> </p>
    <p><a href="https://t.me/@lybmvvs" target="_blank">t.me/@lybmvvs</a></p>
    <p><a href="https://github.com/lybmvvs" target="_blank">github.com/lybmvvs</a> </p>


{% endblock %}
